:root {
    --primer-color: #e46f0a;
    --segundo-color: #9e3f00;
    --border-radius: 8px;
}
* {
    margin: 0;
    box-sizing: border-box;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    background-color: var(--primer-color);
    align-items: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
}
.nav-link {
    padding: 5px;
    font-size: 16px;
    width: max-content;
    margin: 0 10px;
    text-transform: uppercase;
}

.nav-item {
    padding: 3px;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
}

.nav-item:hover {
    background-color: var(--segundo-color);
    transition: 1s;
}

.head img {
    height: 50px;   
    padding: 0 40px;
    line-height: 80px;
}
.collapse navbar-collapse {
    border-radius: 20px;
}
.navbar-collapse {
    border-radius: 2px;
}