@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200&family=Open+Sans:wght@300&display=swap'); /*FUENTE USADA SACADA DE GOOGLE FONTS*/
:root { /*PARA EL USO DE LOS COLORES A PARTIR DE: (VAR)*/
    --primercolor: #e46f0a;
    --segundocolor: #9e3f00;
    --tercercolor: #F5DEB3;
    --cuartocolor: #ffffff;
    --quintocolor: #333333;
    --sextocolor:background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);     /*Lo saque de https://cssgradient.io/gradient-backgrounds/(recordatorio)*/
    /**/
}
* {
    margin: 0;
    box-sizing: border-box;
}
body{
    display: block;
    font-family: 'Inter', sans-serif; /*FUENTE DEL CODIGO*/
}
.encabezado { 
    display: flex;
    justify-content: space-between; /*DISTRIBUYE EL ESPACIO ENTRE Y AL REDEDOR DE LOS ITEMS FLEX*/
    background-color: var(--primercolor); /*USO DE VAR*/
    align-items: center;
    padding: 5px;
    position: fixed; /*PARA QUE SI HAY QUE HACER UN SCROLL NO DESAPAREZCA EL ENCABEZADO*/
    width: 100%; /*PARA QUE OCUPE TODO EL ANCHO*/
    top: 0; /*PARA QUE QUEDE FIJO ARRIBA*/
}
.nav-link {
    padding: 5px;/*AREA DE RELLENO ALREDEDOR DEL CONTENIDO*/
    font-size: 16px; /*TAMAÑO DE LA FUENTE*/
    width: max-content; /*ANCHO MAXIMO DE QUE PUEDE TENER EL ELEMENTO*/
    margin: 0 10px; /*ESTABLECE EL MARGEN 0 EN "Y", 20PX EN "X"*/
    text-transform: uppercase; /*CAMBIA DE MINUSCULAS A MAYUSCULAS*/
}

.nav-item {
    padding: 3px;
    border-radius: 8px; /*REDONDEADO DE LOS BORDES*/
    text-decoration: none; /*PARA SACAR EL SUBRAYADO DEL TEXTO*/
    color: var(--cuartocolor);
}

.nav-item:hover {
    background-color: var(--segundocolor);
    transition: 1s; /*LITERALMENTE TRANSICION*/
}

.head img {
    height: 50px;   
    padding: 0 40px;
}
main{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    margin-top: 5%;
}
.container{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
.footer {
    padding: 5px;
    width: 100%;
    height: 80px;
    background-color: var(--quintocolor);
    position: fixed; 
    bottom: 0; /*PARA QUE QUEDE FIJO ABAJO*/
}
.foot{
    display: flex;  /*PERMITE ALINEAR LOS ELEMENTOS SECUNDARIOS DE UN CONTENEDOR EN UNA FILA*/
    justify-content: space-between;
    align-items: center;
}
.bott img{
    height: 50px;   
    padding: 0 40px;
    margin: 8px auto;
}
.redsocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.redsocial a {
    color: var(--tercercolor);
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

.redsocial a:hover {
    background-color:var(--segundocolor);
    transition: 1s;
    color: var(--cuartocolor);
    text-decoration: none;
}
.carousel-item img { /*PARA CENTRAR LA IMAGEN DEL CARROUSEL*/
    display: block;
    margin: auto;
}

